:root {
    --font-kr: 'SD Gothic Neo','SF Pro', sans-serif;
    --font-kr-b: 'SD Gothic Neo EB','SF Pro', sans-serif;
    --sf-pro: 'SF Pro','SD Gothic Neo','SF Pro Text','SF Pro Display', sans-serif;
    --sf-dp: 'SF Pro Display','SD Gothic Neo','SF Pro Text','SF Pro', sans-serif;
    --sf-text: 'SF Pro Text','SD Gothic Neo','SF Pro', 'SF Pro Display', sans-serif;
}

