@charset "UTF-8";
:root {
  --font-kr: "SF Pro KR","SF Pro Display", sans-serif;
  --font-kr-b: "SF Pro KR","SF Pro Display", sans-serif;
  --sf-pro: "SF Pro Display","SF Pro KR","SF Pro Text", sans-serif;
  --sf-text: "SF Pro Text","SF Pro Display","SF Pro KR R", sans-serif;
  --sf-icon: "SF Pro Icons Regular", sans-serif;
}


@font-face {
  font-family: "SF Pro KR";
  font-weight: normal;
  font-display: swap;
  src: local("SF Pro KR"), url("../font/SFProKRDisplay_semibold.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-display: swap;
  src: local("SF Pro Display"), url("../font/sf-pro-display_semibold.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Text";
  font-weight: normal;
  font-display: swap;
  src: local("SF Pro Text"), url("../font/sf-pro-text_regular.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro KR R";
  font-weight: normal;
  font-display: swap;
  src: local("SF Pro KR R"), url("../font/SFProKRDisplay_regular.woff") format("woff");
}
@font-face {
  font-family: "SF Pro Icons Regular";
  src: url("https://db.onlinewebfonts.com/t/09f79b480eabca839b233bdde61980ac.eot");
  src: url("https://db.onlinewebfonts.com/t/09f79b480eabca839b233bdde61980ac.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/09f79b480eabca839b233bdde61980ac.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/09f79b480eabca839b233bdde61980ac.woff") format("woff"), url("https://db.onlinewebfonts.com/t/09f79b480eabca839b233bdde61980ac.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/09f79b480eabca839b233bdde61980ac.svg#SF Pro Icons Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

html, body {
  height: 100%;
  line-height: 1;
  overflow-x: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

body {
  font-family: var(--sf-text);
  color: #111111;
  font-size: 12px;
}
body.hidden {
  overflow-y: hidden;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.common-inner {
  max-width: 1440px;
  /* padding: 0 44px; */
  margin: 0 auto;
  overflow: hidden;
}



#skipNav {
  position: absolute;
}
#skipNav a {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 150px;
  height: 50px;
  background: #fff;
  color: #fff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
#skipNav a:focus, #skipNav a:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* 헤더 */
header {
  width: 100%;
  height: auto;
  /* position: relative; */
  z-index: 999;
  background: #fff;
  padding-top: 44px;
}

.gnb {
  height: 44px;
  margin: 0 auto;
  width: 100%;
  z-index: 999;
  position: absolute;
  background: #fcfcfd;

top: 0;
left: 0;
right: 0;
}
.gnb .gnb-list {
  max-width: 1024px;
  padding: 0 14px;
  height: 44px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.8);
}
.gnb-logo, .gnb-cart, .gnb-search, .gnb-menu a {
  padding: 0 8px;
}

.gnb .gnb-list .gnb-menu {
  display: none;
}
.gnb .gnb-list .gnb-bg-wrap {
  display: none;
}
.gnb-menu {
  z-index: 1000;
}
.menu-btn {
}
.menu-bg {
  display: none;
}


@media screen and (max-width:834px) {

  .gnb {
    padding: 0;
  }
  .gnb .gnb-list{
    gap: 16px;
  }
  .gnb svg {
    width: 18px;
    height: 48px;
  }
  .gnb .gnb-list .gnb-logo {
    flex-grow: 1;
    padding: 0;
  }

  .gnb .gnb-list .gnb-menu {
    display: block;
  }

  .gnb .gnb-list .gnb-item {
    display: none;
  }

  .gnb .gnb-list .gnb-bg-wrap.on {
    display: block;
    width: 0;
    height: 0;
  }
  .gnb .gnb-list .gnb-bg-wrap .menu-bg.on {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 77;
    padding: 50px 0 0;
    overflow-y: scroll;
  }
  .gnb .gnb-list .gnb-menu .menu-btn .cross {
    display: none;
  }
  .gnb .gnb-list .gnb-menu .menu-btn.on {
    z-index: 888;
  }
  .gnb .gnb-list .gnb-menu .menu-btn.on .cross {
    display: block;
    margin-top: 50px;
    margin-right: 10px;
  }
  .gnb .gnb-list .gnb-menu .menu-btn.on .bar {
    display: none;
  }
  .gnb .gnb-list .gnb-bg-wrap .menu-bg .mobile-gnb-list {}
  .gnb .gnb-list .gnb-bg-wrap .menu-bg .mobile-gnb-item {
    font-family: var(--font-kr-b);
    display: flex;
    padding: 3px 48px 4px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
  }
  .gnb .gnb-list .gnb-bg-wrap .menu-bg .mobile-gnb-item a{
    flex-grow: 1;
  }
  .gnb .gnb-list .gnb-bg-wrap .menu-bg .mobile-gnb-item svg{
    transform: rotate(180deg);
    opacity: 0;
    transition: .2s;
  }
  .gnb .gnb-list .gnb-bg-wrap .menu-bg .mobile-gnb-item:hover svg{
    opacity: 1;
  }
  


}




.gnb .gnb-list .gnb-item > a {
  padding: 0 20px;
}

.gnb .sub-menu {
  width: 100%;
  padding: 50px 246.7px 70px;
  position: absolute;
  top: 44px;
  left: 0;
  background: #fcfcfd                                            ;
  display: none;
  z-index: 99999;
}

.gnb .sub-menu .wrap {
  display: flex;
}
/* .gnb .store-sub {
  display: -webkit-box;
  display: -ms-flexbox;
} */
.gnb .col1 {
  width: 310px;
}
.gnb .col2 {
  width: 150px;
}
.gnb .col2 li {
  font-size: 12px;
  margin-bottom: 15px;
}

.gnb .col3 {
  width: 150px;
}
.gnb .col3 li {
  font-size: 12px;
  margin-bottom: 15px;
}
.gnb .submenu-item {
  font-size: 23px;
  font-family: var(--font-kr-b);
  font-weight: normal;
  margin-bottom: 20px;
}
.sub-menu .wrap strong {
  display: block;
  margin-bottom: 30px;
  font-size: 12px;
  color: #86868b;
  font-family: var(--font-kr);
  margin-bottom: 30px;
}
.sticky-wrapper {
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 99;
}

.sticky {
  height: 52px;
  margin: 0 auto;
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 22px;
  z-index: 999;
}

.sticky .title-hermes {
  font-size: 21px;
  font-family: var(--sf-pro);
  font-weight: bold;
}

@media screen and (max-width: 834px) {
  .sticky {
    padding: 0 16px;
  }
}

.sticky .buy-btn {
  width: 59.5px;
  height: 23.6px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0071e3;
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
  font-family: var(--sf-text);

}

/* 푸터 */
footer {
  background: #f5f5f7;
  color: #000000b8;
}

.footer-content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 22px;
}

.footer-content .gf-buystrip-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 56px;
}

@media screen and (max-width:767px) {

  .footer-content .gf-buystrip-info {
    display: flex;
    flex-direction: column;
  }
}

.footer-content .buystrip-info-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 55px;
  padding: 55px 0 0;
  text-align: center;
}

.footer-content .buystrip-info-col .gf-block {
  color: #000000b8;
}

.footer-content .buystrip-info-col .gf-block .buystrip-icon {
  width: 56px;
  height: 56px;
  margin: 0 auto;
}

.footer-content .buystrip-info-col .gf-block .shipping {
  background: url(https://www.apple.com/ac/globalfooter/8/ko_KR/assets/ac-buystrip/shipping/icon_large.svg) no-repeat center center/contain;
}

.footer-content .buystrip-info-col .gf-block .financing {
  background: url(https://www.apple.com/ac/globalfooter/8/ko_KR/assets/ac-buystrip/financing/krw/icon_large.svg) no-repeat center center/contain;
}

.footer-content .buystrip-info-col .gf-block .help {
  background: url(https://www.apple.com/ac/globalfooter/8/ko_KR/assets/ac-buystrip/help/icon_large.svg) no-repeat center center/contain;
}

.footer-content .gf-block .buystrip-info-title {
  font-size: 18px;
  margin: 10px 0 0;
  font-family: var(--font-kr-b);
}

.footer-content .gf-block .buystrip-info-copy {
  font-size: 13px;
  margin: 5.6px 0 0;
  line-height: 20px;
}

.footer-content .gf-block .more {
  margin: 15px 0;
  display: block;
  color: #0066cc;
}

.footer-content .gf-block:hover .more {
  text-decoration: underline;
}

.footer-content .gf-block .more::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  font-family: var(--sf-icon);
  font-size: 15px;
}

.footer-content .gf-info-text {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 17px 0 11px;
}

.footer-content .gf-info-text ul li {
  padding: 0 0 9.6px;
  color: #6e6e73;
  font-size: 11px;
}

.footer-content .gf-info-text ul li a {
  font-weight: bold;
  text-decoration: underline;
}

.gf-category {
  padding: 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.gf-category .apple-home span {
  font-size: 18px;
}

.gf-category .gf-category-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.gf-category .gf-category-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 7px 0 0;
  padding: 3px 4px 3px 0;
}

.gf-category .gf-category-item::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 11px;
  margin: -1px 11px 0 0;
  background: url(https://www.apple.com/ac/globalfooter/8/ko_KR/assets/ac-footer/breadcrumbs/separator/icon_large.svg) no-repeat 0 0/cover;
  mask-image: url(https://www.apple.com/ac/globalfooter/8/ko_KR/assets/ac-footer/breadcrumbs/separator/icon_large.svg);
}

.gf-directory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000b8;
  font-size: 12px;
}

.gf-directory .gf-directory-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}



.gf-directory .gf-directory-title {
  font-weight: bold;
  display: block;
  margin: 0 20px 15px 0;
}

.gf-directory .gf-directory-col .gf-directory-list {
  display: block;
}

.gf-directory .gf-directory-col-sec ul {
  /* margin-right: 20px; */
}

.gf-directory .gf-directory-col-sec ul li {
  margin: 0 0 15px;
}

.gf-directory .gf-directory-col-sec ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width:767px) {
  .gf-directory {
    display: block;
  }
  .gf-directory .gf-directory-col {
    display: block;
    cursor: pointer;
  }
  .gf-directory .gf-directory-col-sec {
    border-bottom: 1px solid #ccc;
  }
  .gf-directory .gf-directory-col .gf-directory-col-sec .gf-directory-title {
    display: flex;
    margin: 12px 0 12px 0;
    justify-content: space-between;
    align-items: center;
  }
  .gf-directory .gf-directory-col .gf-directory-col-sec .gf-directory-title::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='footer-icon-svg' width='11' height='6' viewBox='0 0 11 6'%3E%3Cpolyline data-footer-icon-shape='' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' fill='none' fill-rule='evenodd' points='10.075 0.675 5.5 5.323 0.925 0.675'%3E%3Canimate data-footer-animate='expand' attributeName='points' values='10.075 0.675 5.5 5.323 0.925 0.675; 10.075 3 5.5 3 0.925 3; 10.075 5.325 5.5 0.676 0.925 5.325' dur='320ms' begin='indefinite' fill='freeze' keyTimes='0; 0.5; 1' calcMode='spline' keySplines='0.12, 0, 0.38, 0; 0.2, 1, 0.68, 1'%3E%3C/animate%3E%3Canimate data-footer-animate='collapse' attributeName='points' values='10.075 5.325 5.5 0.676 0.925 5.325; 10.075 3 5.5 3 0.925 3; 10.075 0.675 5.5 5.323 0.925 0.675' dur='320ms' begin='indefinite' fill='freeze' keyTimes='0; 0.5; 1' calcMode='spline' keySplines='0.2, 0, 0.68, 0; 0.2, 1, 0.68, 1'%3E%3C/animate%3E%3C/polyline%3E%3C/svg%3E");
    display: block;
    opacity: 0.5;
    transition: 0.2s;
  }
  .gf-directory .gf-directory-col .gf-directory-col-sec .gf-directory-title.on::after {
    transform: rotate(180deg);
  }
  .gf-directory .gf-directory-col .gf-directory-list {
    display: none;
    margin: 15px;
  }
}

.gf-bottom {
  padding: 34px 0 21px;
  color: #000000b8;
  font-size: 11px;
}

.gf-bottom .top-text {
  margin: 0 0 7px;
  padding: 0 0 8px;
  border-bottom: 1px solid #ccc;
}

.gf-bottom .top-text a {
  color: #0066cc;
  text-decoration: underline;
}

.gf-bottom .bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width:747px) {
  .gf-bottom .bottom-text .gf-footer-legal-links {
    font-size: 10px;
  }
}
@media screen and (max-width:1024px) {
  .gf-bottom .bottom-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .gf-bottom .bottom-text .gf-footer-legal-links {
  -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  
}

.gf-bottom .bottom-text small {
  margin: 5px 0 0 0;
}

.gf-bottom .bottom-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  margin: 5px 0 0 0;
}

.gf-bottom .bottom-text li {
  padding: 0 10px;
}

.gf-bottom .bottom-text li + * {
  border-left: 1px solid #6e6e73;
}

.gf-bottom .bottom-text li a {
  /* font-weight: bold; */
}

.gf-bottom .bottom-text li a:hover {
  text-decoration: underline;
}

.gf-bottom .bottom-text .country {
  margin: 5px 0 0;
}

.gf-bottom .bottom-text .country:hover {
  text-decoration: underline;
  font-weight: bold;
}

body {
  height: initial;
}

.sc-visual {
  margin-top: -96px;
}
.sc-visual .inner {
  width: 100%;
  background: #f6f6f6;
  overflow: hidden;
  height: calc(100vh + 96px);
  padding-top: 96px;
  margin: 0 auto;
  max-height: 1020px;
  min-height: 550px;
  transition: 1s;
}
.sc-visual .main-img {
  margin: 0 auto;
  max-width: 752px;
}

.sc-hermes-info {
  width: 100%;
  margin: 0 39.6px;
  max-width: 1440px;
}
@media screen and (max-width:767px) {

  .sc-hermes-info {
  
    margin: 0 0;

  }

}
.sc-hermes-info .headline {
  padding: 110px 44px 270px;
  word-break: keep-all;
}



.sc-hermes-info .headline img {
  margin: 0 0 22px;
}

.sc-hermes-info .headline .title-text {
  font-size: 80px;
  font-family: var(--font-kr-b);
}


.sc-hermes-info .headline .intro-copy {
  color: #888888;
  font-size: 32px;
  margin: 40px 0 0;
  max-width: 690px;
  font-family: var(--font-kr-b);
  line-height: 40px;
  word-break: keep-all;
}

.sc-new-bands {
  max-width: 1440px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, auto);
}

.sc-new-bands .img-container {
  height: auto;
}
.group-header {
  padding: 0 25px 0 44px;
  height: auto;
  font-size: 22px;
  font-family: var(--font-kr-b);
  word-break: keep-all;
  line-height: 30px;
}

.group-header h2 {
  display: inline;
}

.group-header p {
  display: inline;
  color: #888888;
}





.lucky-horse {
  padding: 0 44px 0 25px;
}

.gallery-casaque {
  padding: 64px 25px 0 44px;
  position: relative;
}

.gallery-casaque .img-container {
  background: url(https://www.apple.com/kr/apple-watch-hermes/ab/images/hardware/design_gallery_01__c05cv441i92e_large.jpg) center center / cover no-repeat;
  /* height: 732px; */
  -webkit-transition: 0.7s;
  transition: 0.7s;

  width: 100%;
  height: auto;
  padding-top: calc(732 / 644 * 100%);
  position: relative;

  
}

.gallery-casaque .img-container.on {
  background: url(https://www.apple.com/kr/apple-watch-hermes/ab/images/hardware/design_gallery_02__b7udzp5j258i_large.jpg) center center / cover no-repeat;
  /* height: 732px; */
  width: 100%;
  height: auto;
  padding-top: calc(732 / 644 * 100%);
  position: relative;

}

.gallery-casaque .colornav {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-casaque .colornav li {
  margin: 1px 5px;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-casaque .colornav li.on {
  border: 2px solid #0070c9;
}

.gallery-casaque .colornav li button {
  width: 32px;
  height: 32px;
  display: block;
}

.gallery-casaque .colornav .btn1 {
  background: url(https://www.apple.com/v/apple-watch-hermes/ab/images/swatches/swatch_rouge_bleu_casaque__do95giq9i0sy_large.png) no-repeat center top/100%;
  border-radius: 50px;
}

.gallery-casaque .colornav .btn2 {
    padding-bottom: (470/649)*100%;
    background: url(https://www.apple.com/v/apple-watch-hermes/ab/images/swatches/swatch_rose_noir_casaque__d9sdilj5zc02_large.png) no-repeat center top/100%;
  border-radius: 50px;
}

.captions-container {
  margin: 12px 0;
  position: relative;
}

.captions-container p {
  font-size: 10px;
  color: #86868b;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  position: absolute;
  display: block;
}
@media screen and (max-width:767px) {
  .gallery-casaque{
    padding: 0 25px 0 44px;
    margin-bottom: 100px;
  }
  .sc-hermes-info .headline .title-text {
    font-size: 60px;
  }
  .sc-hermes-info .headline .intro-copy {
    font-size: 25px;
  }
  .sc-new-bands {
    display: block;
  }
  .group-header {
    margin-bottom: 50px;
  }

}
.captions-container .caption1 {
  opacity: 0;
}

.captions-container .caption2 {
  opacity: 0;
}

.captions-container p.current {
  opacity: 1;
}

.gallery-lucky-horse {
  padding: 64px 44px 0 25px;
}

@media screen and (max-width:767px) {
  .lucky-horse, .gallery-lucky-horse {
    padding: 0 25px 0 44px;
  }
}
.gallery-lucky-horse .img-container {
  position: relative;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding-bottom: calc((500/460)*100%);
}

/* .gallery-lucky-horse .img-container .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 460px;
  height: 500px;
} */

.gallery-lucky-horse .img-container picture img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 61%;
  height: 67%;

  object-fit: cover;
}



.gallery-lucky-horse .img-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 61%;
  height: 69%;

  object-fit: cover;
  z-index: 10;
}

@media screen and (min-width: 1418px) {
  .gallery-lucky-horse .img-container picture {
    display: none;
  }
}
@media screen and (max-width: 1418px) {
  .gallery-lucky-horse .img-container video {
    display: none;
}
.gallery-lucky-horse .img-container .lucky-horse-main {
  display: none;
}
}

.gallery-lucky-horse .img-container .lucky-horse-main {
  margin: 0 auto;
  /* width: 460px;
  height: 500px; */
  width: 80%;
  height: 80%;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-image: url("../images/artist_watch_hw_mask__eh3eao35ogwi_large.png");
  mask-image: url("../images/artist_watch_hw_mask__eh3eao35ogwi_large.png");

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  
}

.gallery-lucky-horse .captions-container {
  margin: 12px 0;
}

.sc-tours-gallery {
  /* max-width: 1440px; */
  margin: 194px 0px 194px;
}

.sc-tours-gallery .group-header {
  max-width: 720px;
  padding: 0 44px;
}

.sc-tours-gallery .gallery-blocks {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
}

.sc-tours-gallery .gallery-blocks .block-content {
  max-width: 720px;
  height: auto;
}

.sc-tours-gallery .gallery-blocks .block-content-block1 {
  margin: 72px 0 0;
  padding: 0 25px 0 44px;
}

.sc-tours-gallery .gallery-blocks .block-content-block2 {
  margin: 122.4px 0 0;
  padding: 0 25px 0 44px;
}

.sc-tours-gallery .gallery-blocks .block-content-block3 {
  margin: 194.4px 0 0;
  padding: 0 44px 0 25px;
}

.sc-tours-gallery .gallery-blocks .block-content-block4 {
  margin: -86.4px 0 0;
  padding: 0 44px 0 25px;
}

@media screen and (max-width:1024px) {
  .sc-tours-gallery .gallery-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sc-tours-gallery .block-content-block1 .figure-container .copy-caption {
    bottom: 30px;
  }
  .sc-tours-gallery .block-content-block2 .figure-container .copy-caption {
    bottom: 15px;
  }
  .sc-tours-gallery .block-content-block4 .figure-container .copy-caption {
    bottom: 90px;
  }
  .sc-tours-gallery .image-block3 {
    margin-bottom: 200px;
  }

}

.sc-tours-gallery .figure-container {
  position: relative;

}

.sc-tours-gallery .image-block1 {

  /* padding: 0 0 727.225px; */
  padding-bottom: calc(725/649)*100%;

}

.sc-tours-gallery .image-block2 {

  /* padding: 0 0 471.438px; */
  padding-bottom: calc(470/649)*100%;

}

.sc-tours-gallery .image-block3 {

  /* padding: 0 0 425.3px; */
  padding-bottom: calc(424/649)*100%;

}

.sc-tours-gallery .image-block4 {

  /* padding: 0 0 992.037px; */
  padding-bottom: calc(729/478)*100%;

}

.sc-tours-gallery .copy-caption {
  font-size: 11px;
  color: #86868b;
  margin: 10px 0 0;
}

.sc-tours-gallery .block-content-block1 .copy-caption {
  position: absolute;
  bottom: 55px;
  right: 0;
}

.sc-tours-gallery .block-content-block2 .copy-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  bottom: 30px;
  right: 0;
}

.sc-tours-gallery .block-content-block3 .copy-caption {
  position: absolute;
  bottom: 0;
  right: 0;
}

.sc-tours-gallery .block-content-block4 .copy-caption {
  position: absolute;
  bottom: 140px;
  right: 0;
}

.sc-sport-band {
}

.sc-sport-band .group-header {
  padding: 0 44px;
  max-width: 728px;
}

.sc-sport-band .img-container {
  position: relative;
  margin: 92px 0 0;
  /* padding: 0 44px; */
  padding-bottom: 43.3431952663%;
  background: #f00;
}

.sc-sport-band .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sc-lineup {
  margin: 500px 0 0;
}

.sc-lineup .group-header {
  max-width: 740px;
  padding: 0 44px;
}

.sc-lineup .group-header a {
  display: block;
  color: #0070c9;
  font: 24px;
  margin: 20px 0 9.6px;
}

.sc-lineup .group-header .icon-chevronright::after {
  content: ">";
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
}

.sc-lineup .group-header a:hover {
  text-decoration: underline;
}

.sc-lineup .img-container {
  margin: 92px 0 0;
  padding: 0 44px;
}

.sc-custom {
  width: 100%;
}
.sc-custom .text-box {
  text-align: center;
  font-family: var(--font-kr-b);
  margin-top: 140px;
}
.sc-custom .text-box h2 {
  font-size: 28px;
  margin: 0 0 26px;
}
.sc-custom .text-box strong {
  font-size: 48px;
}
.sc-custom .text-box span {
  font-size: 48px;
}
@media screen and (max-width:747px) {
  .sc-custom .text-box strong {
    font-size: 35px;
  }
  .sc-custom .text-box p {
    font-size: 22px;
    word-break: keep-all;
  }
}

.sc-custom .text-box p {
  margin: 20px 0;
  font-size: 21px;
  line-height: 30px;
}
.sc-custom .text-box .custom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 17px;
  width: 185px;
  height: 45px;
  margin: 34px auto 50px;
}
.sc-custom .text-box .custom-btn:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  content: "자신만의 스타일 만들기";
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, right top, from(#FDDE5C), color-stop(16.66667%, #F8AB5E), color-stop(33.33333%, #F56A62), color-stop(50%, #A176C8), color-stop(66.66667%, #759BEB), color-stop(83.33333%, #65BEB3), to(#70DB96));
  background-image: linear-gradient(#fff, #fff), linear-gradient(90deg, #FDDE5C 0%, #F8AB5E 16.66667%, #F56A62 33.33333%, #A176C8 50%, #759BEB 66.66667%, #65BEB3 83.33333%, #70DB96);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.sc-custom .text-box .custom-btn:hover::after {
  border-width: 3px;
  color: #0070c9;
}
.sc-custom .img-container {
  background: url(https://www.apple.com/v/apple-watch-hermes/ab/images/configure/cto/cto-bands__bf5otma24l9e_large.jpg) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.sc-custom .img-container.slide {
  animation-name: bands;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes bands {
  from {
    background-position-x: 35%;
  }
  to {
    background-position-x: 50%;
  }
  
}
.sc-store {
  /* margin: 0 39.6px 124px; */
  padding: 192px 0 0;
}

.sc-store h2 {
  font-size: 48px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-kr-b);
  line-height: 60px;
  word-break: keep-all;
}

@media screen and (max-width:767px) {
  .sc-store h2 {
    font-size: 35px;
  }
}

.sc-store .img-container {
  margin: 92px 0;
}
.sc-store .img-container img {
  margin: 0 auto;
}